.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MenuWhole{

  width:90%;display:flex

}
.MenuBack{
  width:80%;
}
.MenuMain{

  width:70%;
}
.menuSearch{

  width:15%;display:flex;
}
.menuLink{padding: 20px;}

.menuLogin{
  display: flex;
  width: 5%;
}
.mobileSearch{
  display: none;
}
.tab{
  min-width: 90px !important;
  padding: 0px !important;
}

@media only screen and (max-width: 600px) {
  .mobileSearch{
    display:block;
    width:90%;
    padding:10px
  }
  .MenuBack{
    width:90%;
  }
  .MenuMain{

    width:90%;
  }
  .menuSearch{

   display: none;
  }
  .menuLogin{
  
    width: 10%;
  }

}
.profile{
  margin:auto;

}
.Menu{
  display: flex;
  width: 100%;
  background-color: #ffea00;
}
.Menu >a{
  padding: 20px;
  list-style-type: none;
  text-align: center;
  width:10%
}
.Menu >li:focus{
  background:lightgrey
}
.Menu >li >a{
  text-decoration:none;
}
.menuLinkUpload{
  text-decoration:none;

  color:black
}
#nextStep{
  position: absolute;
  right: 0px;
}
.grid {
  margin-top:100px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit,  minmax(250px, 1fr));
}
.image-gallery-slide img {
  height: 400px;
}
.fullscreen .image-gallery-slide img {
  max-height: none !important;
  height: 100vh !important;
}
.variantWrap{
  display:flex;
  flex-wrap: wrap;
}
.variantWrap > *{
  margin:20px
}
.sellerProductFilter{
  display:flex;
}
.sellerProductFilter>div{
  margin:20px;
}